body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $violet-light;
    display: flex;
    flex-direction: column;

    #etch-a-sketch {
        width: 800px;
        height: 100vh;
        margin: auto auto 0;

        @media (max-width: $mobile) {
            width: 100%;
        }
    }
}

h1 {
    font-family: $raleway;
    font-size: 50px;
    text-align: center;

    @media(max-width: $mobile) {
        font-size: 35px;
    }
}

button {
    font-family: $raleway;
    font-weight: 400;
    font-size: 20px;
    width: 170px;
    height: 50px;
    text-transform: capitalize;
    color: #fff;
    background-color: $violet;
    border-radius: 10px;
    cursor: pointer;
}

p {
    margin: 0;
    font-family: $raleway;
    font-size: 20px;

    @media(max-width: $mobile) {
        color: #fff;
    }
}

