.main-center {
    margin: 0 20px;
    height: 100%;
    display: flex;

    @media(max-width: $mobile) {
        justify-content: center;
        margin: 0;
    }
}

.main-center__aside {
    height: 100%;

    &.modal {
        @media(max-width: $mobile) {
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, .7);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.main-center__aside__sidebar {
    height: 100%;
    
    @media(max-width: $mobile) {
        height: 560px;
        width: 250px;
        margin-top: 80px;
        position: absolute;
        left: -210px;
        top: 0;
        transition: .6s;

        &.left {
            left: 0px;
        }
    }
}

.main-center__aside__hamburger-bg {

    @media(max-width: $mobile) {
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, .2);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 80px;
        right: 0px;
        border-radius: 0 10px 10px 0;
        transition: 0.6s;
    }
}

.main-center__aside__hamburger {
    @media(max-width: $mobile) {
        width: 20px;
        height: 15px;
        border-top: 2px solid #fff;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            margin-top: 5px;
            border-top: 2px solid #fff;
            transition: .5s;
            position: relative;
        }

    }
}

.main-center__aside__sidebar.left .main-center__aside__hamburger {
    border-color: transparent;

    &::before {
        transform: rotate(135deg);
    }
    
    &::after {
        transform: rotate(-135deg);
        top: -7px;
        left: 1px;
    }

}